﻿@model Remarkable.Models.Product

@{
     ViewBag.Title = Model.Name;
}

<div class="contentbox container-fluid product-container offset-top">

    <div class="row">

        @if (Model.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Product_Image).Count() != 0)
        {
            <div class="row">
                @foreach (var sr in Model.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Product_Image))
                {
                    <div class="col-12 col-md-6">
                        <img class="w-100 d-block" src="@sr.getUrl()" alt="">
                    </div>
                }
            </div>
        }


        <div class="product-text">
            <h1>@Model.Name</h1>

            @Html.Raw(Model.Description)

            <ul class="categories mb-3">
                @foreach (var tag in Model.GetTags())
                {
                    <li>@tag.Name</li>
                }
            </ul>

        </div>
    </div>
    @foreach (var sr in Model.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop))
    {
        <div class="hero-container hero-image mt-5 mb-5"
             style="background-image: url(@sr.getUrl())">
        </div>
    }

    <div class="row mt-3 mb-3">
        <div class="col-12">
            <div class="product-details">
                <a name="details"></a>
                <h1 class="pb-3">Product Details</h1>
                @Html.Raw(Model.Details)
            </div>
        </div>
    </div>



</div>