﻿@model Remarkable.Models.Content
@using Remarkable.Models
@{
    ViewBag.Title = Model.Type == Remarkable.Models.Content.TypeOption.Home_Page_Banner ? "Edit Banner" : "Edit Page";
    var ownerIndex = 0;
}

<h2>@ViewBag.Title</h2>

<div>
    @if (Model.SystemType == Content.SystemTypeOption.News)
    {
        @Html.ActionLink("Back to List", "News", new { id = Model.Type })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", new { id = Model.Type })
    }

</div>

@Html.Partial("_Msg")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div ng-app="angApp" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.SystemType)


    @if (Model.SystemType == Content.SystemTypeOption.News)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @{
            string label = Model.Type == Content.TypeOption.Home_Page_Banner ? "Text" : "Introduction";
            if (Model.Type == Content.TypeOption.Home_Page_Large_Promo || Model.Type == Content.TypeOption.Home_Page_Promo)
            {
                label = "Url";
            }
        }
        @Html.Label(label, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Html2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Html2, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (Model.Type == Content.TypeOption.Site_Content)
    {
        <div class="form-group">
            @{
                label = Model.Type == Content.TypeOption.Home_Page_Banner ? "Large Text" : "Main Content";
                if (Model.Type == Content.TypeOption.Home_Page_Large_Promo || Model.Type == Content.TypeOption.Home_Page_Promo)
                {
                    label = "Text";
                }

            }
            @Html.Label(label, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Html1, new { htmlAttributes = new { @class = ("form-control" + (Model.Type == Content.TypeOption.Site_Content ? " editor" : "")) } })
                @Html.ValidationMessageFor(model => model.Html1, "", new { @class = "text-danger" })
            </div>
        </div>
                }
        @if (Model.Type == Content.TypeOption.Home_Page_Large_Promo)
        {
            <div class="form-group">
                @Html.Label("Blurb", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Html3, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.Html3, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @if (Model.Type == Content.TypeOption.Home_Page_Banner)
        {
            <div class="form-group">
                @Html.Label("Link", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Html3, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.Html3, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (Model.Type == Content.TypeOption.Site_Content)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IsHidden, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsHidden)
                        @Html.ValidationMessageFor(model => model.IsHidden, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
                </div>
            </div>

        }

        <div class="form-group">
            @Html.Label("Billboard Image", htmlAttributes: new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                &nbsp;&nbsp;(1300 x 545)
                @Html.Partial("_Upload", Model.getFile(SiteResource.SiteResourceTypeOption.Billboard_Desktop, ownerIndex++))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @if (Model.SystemType == Content.SystemTypeOption.News)
    {
        @Html.ActionLink("Back to List", "News", new { id = Model.Type })
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", new { id = Model.Type })
    }
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    @Scripts.Render("~/bundles/upload")
    <script src="/Scripts/Vendor/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/Scripts/Vendor/ng-file-upload.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @if (Model.SystemType == Content.SystemTypeOption.News)
    {
        <script>
        $(function () {

                        $('#CreateDate').datepicker({ dateFormat: 'dd/mm/yy' }).val('@Model.CreateDate.ToShortDateString()');
                         });
           

        </script>
    }

        @Html.Partial("_Editor")
    }
