﻿$heading: 'Roboto', sans-serif;
$copy: 'Chivo', sans-serif;
$img-path: "/content/images";
$break-small: 430px;
$break-med: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$color-primary: #BAC0C4;
$color-primary-strong: #000;
$light-blue: #00a1ed ;
$dark-blue: #1C2E3D;
$red: #D50118;

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $copy;
    color: $color-primary;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
   
}

h1, h2, h3, h4 {
    font-family: $heading;
}

h1 {
    font-size: 1.8rem;
    @media (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.relative {
    position: relative;
}

button {
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 51%, rgba(64,128,203,1) 100%);
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 3px;
    transition: ease .5s;
  
    &:hover{
    background-position: right center;
    transition: ease .5s;
    }
  
    &:focus{
      outline: none;
      background-color: $red;
    }

}

.container-fluid{
    max-width: 1170px;
    padding: 0 30px; 
    @media (min-width: 768px) {
        padding: 0 40px;
    }  
}
.hero-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.hero-image{
    background-size: cover;
    background-position: 50% 50%;
    height: 40%;
}

// Nav -------------------------------------------------------------------------
.logo {
    height: 40px;
    padding: 6px;

    @media (min-width: 480px) {
    height: 45px;
    }
    
}

.offset-top{
   margin-top: 70px; 
}
.navbar{
    background: #fff;
    flex-direction: column;

    a {
        color: #000000;
    }

    .dropdown-menu {
        border: none;

        .dropdown-item{
            padding-left: 10px;
        }
        
    }

    .dropdown-toggle::after {
        border: none;
    }
    
    button {
        background: none;

        &:hover {
            background-color: transparent;
            cursor: pointer;
        }

        &:focus {
            background-color: transparent;
        }

    }
}
.mobile-menu{
    display: flex;
    align-items: center;
   
    button{
        padding: 0 10px;
    }
    .navbar-toggler-icon {
        background-size: contain;
        width: 30px;
        height: 30px;
    }   
    @media (min-width: 992px) {
        .mobile-number {
            display: none;
        }
    }
}


.navbar-nav li a {
    font-size: 14px;
    transition: ease .3s;

    &:hover{
        opacity: 0.5;
        transition: ease .3s;
    }
}

.nav-link.phone {
    .icon {
      display: none;
      @media (min-width: 992px) {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        margin-right: 10px;
        display: inline;
        align-self: center;
    } 
    }    
    @media (min-width: 992px) {
        background: $dark-blue;
        color: #fff;
        padding: 8px 20px;
        border-radius: 3px;
        margin-left: 20px;
    }  
}
.red-line {
    background-color:$red;
    height: 5px;
    width: 100%;
}

// Product ---------------------------------------------------------------------

.product-click {
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
   
    .price {
        display: flex;
        padding: 10px;
        img {
            height: 40px;

            @media (min-width: 480px) {
                height: 50px;
            }
        
        }
        .text {
            padding: 0 20px;
            color: $dark-blue;
        }
    
        h3 {
            font-size: 16px;
            font-family: $copy;
        }
    
        h2 {
            font-size: 30px;
            line-height: 20px;
        }
        @media (min-width: 480px) {
            padding: 30px;
        }
    
    }

    .categories{
        list-style: none;
        margin: 0;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;

        li {
            background-color: $color-primary;
            color: #fff;
            border-radius: 5px;
            text-align: center;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 14px;
            
        }
    }

    p {
        font-family: $heading;
        color:$light-blue;
        font-size: 26px;
        line-height: 28px;
        padding: 0 20px;
        min-height: 55px;
        
    }

    .product-image {
        max-height: 200px;
        display: block;
        margin: 0 auto;
    }
   
}

.logo-banner {
    background: $light-blue;
    background: -moz-linear-gradient(left, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,128,203,1)), color-stop(100%, rgba(0,161,237,1)));
    background: -webkit-linear-gradient(left, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 100%);
    background: -o-linear-gradient(left, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 100%);
    background: linear-gradient(to right, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4080cb', endColorstr='#00a1ed', GradientType=1 );
    padding: 50px 0;

    img {
        width: auto;
        height: 75px;
        display: block;
        margin: 0 auto;
        @media (min-width: 480px) { 
            height: 100px;  
        }
        @media (min-width: 992px) { 
            height: 130px;  
        }
    }


}

.trademe-banner{
    background-color: $dark-blue;
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(28,46,61,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c2e3d', GradientType=1 );
    color: #fff;
    
    .trademe-container {
        max-width: 329px;
        max-height: 50px;
        margin: 0 auto;
        display: block;
    }

    img {
        display: inline-block;
        max-width: 98%;
        height: auto;
    }

    p {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0 30px;
        text-align: center;
            @media (min-width: 768px) { 
                width: 90%;
            }

    }

    button {
        display: block;
        margin: 0 auto;
    }

}

// Carousel 
.text-container{
    position: absolute;
    top: 15%;
    bottom: 0;
    margin-left: 40px;
    z-index: 1;
    color: #fff;

    h1 {
            font-size: 40px;
            line-height: 40px;
        }

    h3 {
        font-size: 20px;
        font-family: $copy;
        }

    @media (min-width: 768px) {
        top: 30%; 
    }
}

.gradient-fill {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}

.hero-container{
.carousel-indicators{
    justify-content: flex-start;
    margin: 0 0 20px 40px;

    li {
        background-image: url(../content/images/bullet-empty.svg);
        box-sizing: initial;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-color: transparent; 
        background-clip: initial; 
        opacity: 1;
        padding: 0 5px;

    }
    .active {
        background-image: url(../content/images/bullet_active.svg);
      
    }
}

.carousel-item {
    width: 100%;
    height: 50%;
    min-height: 400px;
    background-size: cover;
    background-position: 80% 50%;
}
}


//Swiper 
.single-image{
    width: 100%;
    display: block;
}

.swiper-container {
    padding: 0 10px;
    a{
        text-decoration: none;
    }
}
.swiper-wrapper {
    height: auto;
}

.multiple-product-swiper{
    .swiper-slide{
        height: 100%;
        -webkit-box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
        box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
        a { 
            text-decoration: none;
        }

    }

    @media (min-width: 768px) { 
        min-height: 500px;
    }
}

.product-swiper{
    max-width: 100%;
    margin-bottom: 40px;
    .swiper-slide{
       background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100%;
        min-height: 50vh;
        width: 100% !important;
        margin-bottom: 30px;
        a { 
            text-decoration: none;
        }
        img{
            vertical-align: middle;
        }

        @media (min-width: 768px) { 
            min-height: 350px;
        }

    }
    @media (min-width: 768px) { 
        max-width: 80%; 
    }
}
.swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 30px;
    background-size: contain;

    &:focus{
        outline: none;
    }

    @media (min-width: 768px) {
    width: 80px;
    height: 80px;
   }
 
}


.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -10px;
    background-image: url(../content/images/left.svg);
    @media (min-width: 768px) {
        left: 0px;
         background-image: url(../content/images/arrow-left.png);
    }
}
    
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -10px;
    background-image: url(../content/images/right.svg);
    @media (min-width: 768px) {
        right: 0px;
        background-image: url(../content/images/arrow-right.png); 
    }
}

.multiple-slider-container{
    position: relative;
    
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0px;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 0px;
    }

}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-size: cover;
    opacity: 1;
    background-color: transparent; 
}

.swiper-pagination-bullet{
    background-image: url(../content/images/bullet-empty-blue.svg);
}

.swiper-pagination-bullet-active {
    background-image: url(../content/images/bullet-active-blue.svg);
}



//Footer 

.footer-bg {
    background-color: $dark-blue;
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(28,46,61,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(28,46,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c2e3d', GradientType=1 );
    padding-bottom: 60px;
}
.footer-list {
    list-style: none;
    line-height: 15pt;
    padding: 0;
        a, p {
            color: $color-primary;
            font-size: 14px;
            padding: 3px 0;
        }

       

        li {
            display: flex;
            align-items: baseline;
            .icon {
                width: 15px;
                height: auto;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
            .facebook{
                width: 20px;
                height: auto;
                img {
                    width: 100%;
                }
            }
        }
    
}

li.fb{
    flex-direction: column;
}

.footer-list-heading {
    font-family: $heading;
    font-size: 16px;
    color: white;
    width: 80%;
}

.footer-logo {
    width: 150px;
}
.footer-logo img {
    width: 100%;
}



// Contact 

.contact-container {
    position: relative;
    background: #eeeeee;
    
    @media (min-width: 992px) {
        background: transparent;
        background-position: center;
        background-size: cover;
        background-image: url(../content/images/bg-overlay.png);
        background-repeat: no-repeat;
    }

 
    h1, h4, p {
        color: $dark-blue;
    }

    .blurb{
        width: 100%;
        @media (min-width: 768px) {
            width: 60%;
        }
    }

    .contact-text{
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
                h4 {
                    font-size: 18px;
                    margin: 0;
                
                }
                .icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 30px;
                }
                img {
                    width: 100%;
                    height: auto;
                } 
                p {
                    font-size: 16px;
                }
    
        }
    
    }

    .absolute{
        width: 50%;
        height: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label{
        color: $color-primary;
        font-size: 16px;
    }

    input, textarea {
        border: none;
    }

    button[type=button] {
        background-size: 200% auto;
        background-image: linear-gradient(to right, rgba(64,128,203,1) 0%, rgba(0,161,237,1) 51%, rgba(64,128,203,1) 100%);
        color: #fff;
        border: none;
        font-size: 14px;
        transition: ease .5s;
        margin-left: 0;
        width: 50%;
        max-width: 120px;
        align-self: flex-start;
       

        &:hover{
            background-position: right center;
            transition: ease .5s;
        }

        @media (min-width: 768px) {
            width: 30%;
            align-self: flex-end;

        }
    }

}

//Brands

.page-heading {
    color: $light-blue;
    font-size: 2.2rem;
    text-align: center;
}

.page-blurb{
    color: #000;
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.product-grid {
    a{
        text-decoration: none;
    }
    .product-click{
    -webkit-box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
    box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
    }
}

//Product
.product-text{
    .product-name {
        color: $light-blue;
        font-size: 1.8rem;
        @media (min-width: 768px) {
            font-size: 2.2rem;
        }
    }
    .desc {
        color: #000;
    }
    .categories{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            background-color: $color-primary;
            color: #fff;
            border-radius: 5px;
            text-align: center;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 12px;
        }
    }

    .links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
         li {
             a {
                 color: $color-primary;
                 text-decoration: underline;
                 font-size: 14px;
        

             }
         }
    }

    
    .price {
        display: flex;
        align-items: baseline;
        margin: 0;
        img {
            height: 30px;
            margin-right: 10px;
        }
        .text {
            display: flex;
            align-items: center;
            color: $dark-blue;
        }
    
        p{
            font-size: 11px;
            font-family: $heading;
            line-height: 11px;
            margin: 0;

        }
    
        h2 {
            font-size: 30px;
            margin-bottom: 0;
            margin-right: 10px;
        }
    
    }
}

// .product-container {
//     .carousel-indicators{
//         position: relative;
//         justify-content: center;
//         margin: 0;
    
//         li {
//             background-image: url(../content/images/bullet-empty-blue.svg);
//             box-sizing: initial;
//             background-size: contain;
//             background-position: center;
//             background-repeat: no-repeat;
//             width: 10px;
//             height: 10px;
//             background-color: transparent; 
//             background-clip: initial; 
//             opacity: 1;
//             padding: 0 5px;
    
//         }
//         .active {
//             background-image: url(../content/images/bullet-active-blue.svg);
          
//         }
//     }
//     .carousel-control-next-icon, .carousel-control-prev-icon{
//         width: 50px;
//         height: 50px;
//     }
//     .carousel-control-prev-icon{
//         background-image: url(../content/images/arrow-left.png);
//     }
//     .carousel-control-next-icon {
//         background-image: url(../content/images/arrow-right.png);
//     }
    
   
// }

.product-details{
    text-align: center;
    padding: 30px;
    -webkit-box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);
    box-shadow: 1px 11px 16px -8px rgba(0,0,0,0.1);

    h1 {
        color: $red;
    }

    p {
        color: #000;
    }

    @media (min-width: 768px) {
        padding: 50px;
    }
}

.features{
    h1 {
        color: $light-blue;
        font-size: 2.2rem;
    }

    ul {
        padding-left: 20px;
            
        li {
            padding: 5px 0;
            color: #000;
        }
    }
}

.feature-image {
        max-width: 500px;
        max-height: 100%;
        margin: 0 auto;
        display: block;
    img {
        display: inline-block;
        max-width: 98%;
        height: auto;
    }
}

    .wayfinder{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        li{
            display: flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            a{
                color: $color-primary;
                transition: ease-in-out .5s;
              &:hover{
                  text-decoration: none;
                  color: darken($color-primary, 25%);
                  transition: ease-in-out .5s;

              }
                
            }
            p{
                margin: 0 10px;
            }
        }
    }

// Contact Page 

.leave-message {
    background: #F5F6F6;

    h1 {
        font-size: 2.2rem;
    }

    h1, h2, h3, h4, p {
        color: $dark-blue;

    }

    form {
        display: flex;
        flex-direction: column;
    }

    label{
        color: $dark-blue;
        font-size: 16px;
    }



    button[type="button"] {
        background-color: $color-primary;
        color: #fff;
        border: none;
        padding: 10px 5px;
        font-size: 14px;
        border-radius: 3px;
        transition: ease .5s;
        margin-left: 0;
        width: 50%;
        max-width: 120px;
        align-self: flex-start;
       

        &:hover{
            background-color: $red;
            transition: ease .5s;
        }

    }
}
   

// *{
//     border: 1px solid red;
// }