﻿@model Remarkable.Models.Product
@using Remarkable.Models
@using Remarkable.Models.Extensions
@{
    ViewBag.Title = "Edit Product";
    var ownerIndex = 0;
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_Msg")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div ng-app="angApp" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(Model => Model.BrandID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Price">Rank</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control editor" } })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.IsHidden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsHidden)
                @Html.ValidationMessageFor(model => model.IsHidden, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <div class="form-group" style="display:none;">
        @Html.Label("Product Tags", htmlAttributes: new { @class = "control-label col-sm-2" })
        <div class="col-sm-10 tagsdiv">
            <div class="col-sm-4">
                <div class="input-group">
                    @Html.DropDownList("NewRelatedTagID", ((List<Tag>)ViewBag.Tags).ToSelectList(f => f.Name, f => f.ID.ToString(), "Choose"), new { @class = "form-control tagsel" })
                    <div class="input-group-btn">
                        <button type="button" value="add" class="addtag btn btn-default">ADD</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 taglist">
                @if (Model.Tags != null)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <span class="tag" id="taglabel_@(tag.ID)">@(tag.Name) <a href="javascript:void(0)" data-tagid="@(tag.ID)" class="removetag">x</a></span>
                        <input type="hidden" id="tag_@(tag.ID)" name="TagIDs" value="@(tag.ID)" />
                    }
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Product Images", htmlAttributes: new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-6">
                    @Html.Partial("_Upload", Model.getFile(SiteResource.SiteResourceTypeOption.Product_Image, ownerIndex++))
                </div>
                <div class="col-sm-6">
                    @Html.Partial("_Upload", Model.getFile(SiteResource.SiteResourceTypeOption.Product_Image, ownerIndex++))
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    @Scripts.Render("~/bundles/upload")
    @Scripts.Render("~/bundles/tags")
    <script src="/Scripts/Vendor/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/Scripts/Vendor/ng-file-upload.min.js"></script>
   
    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_Editor")
}
