﻿@model Remarkable.Models.Brand
@using Remarkable.Models
@{
    ViewBag.Title = "Delete Brand";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Msg")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    <h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>