﻿@model Remarkable.Models.Brand
@using Remarkable.Models
@{
    ViewBag.Title = "Edit Brand";
    var ownerIndex = 0;
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_Msg")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div ng-app="angApp" class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control editor" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsHidden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 <div class="checkbox">
                    @Html.EditorFor(model => model.IsHidden, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.IsHidden, "", new { @class = "text-danger" })
                 </div>
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Billboard Image", htmlAttributes: new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                &nbsp;&nbsp;(1300 x 545)
                @Html.Partial("_Upload", Model.getFile(SiteResource.SiteResourceTypeOption.Billboard_Desktop, ownerIndex++))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    @Scripts.Render("~/bundles/upload")
    <script src="/Scripts/Vendor/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/Scripts/Vendor/ng-file-upload.min.js"></script>
   
    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_Editor")
}
