﻿
    <div class="logo-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-0 col-md-1"></div>
                <div class="col-4 col-md-2">
                    <img src="/content/images/massey.png" alt="">
                </div>
                <div class="col-4 col-md-2">
                    <img src="/content/images/briggs.png" alt="">
                </div>
                <div class="col-4 col-md-2">
                    <img src="/content/images/mahindra.png" alt="">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/content/images/victa.png" alt="">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/content/images/ferris.png" alt="">
                </div>
                <div class="col-0 col-md-1"></div>
            </div>
        </div>
    </div>
