﻿@model Remarkable.Models.Product
<a href="@Model.GetUrl()">
    <div class="Model-click">
        <div class="price">
            <img src="/content/images/brand.png" alt="">
            <div class="text">
                @if(Model.Price.HasValue)
                { 
                    <h3>From Only</h3>
                    <h2>@(((decimal)Model.Price).ToString("c"))</h2>
                }
            </div>
        </div>
        <img class="Model-image img-fluid mb-3" src="@Model.GetResources().First(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Product_Image).getUrl()" alt="">
        <p>@Model.Name</p>
        <ul class="categories">
            @foreach(var tag in Model.GetTags())
            { 
                <li>@tag.Name</li>
            }
        </ul>
    </div>
</a>