﻿@model Remarkable.Models.Content

@{
    ViewBag.Title = Model.Title;
}

@if (Model.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop).Count() != 0)
{

    <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">
            @foreach (var sr in Model.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop))
            {
                <div class="swiper-slide" style="background-image: url(@sr.getUrl())"></div>
            }
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
}


    <div class="contentbox">

        @if (Model.SystemType == Remarkable.Models.Content.SystemTypeOption.Contact)
        {
            <div class="offset-top leave-message pt-5 pb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h1>@Model.Title</h1>
                            <div class="blurb mb-4">@Html.Raw(Model.Html1)</div>
                            <div class="contact-form">
                                @Html.Partial("_ContactRequest", new Remarkable.Models.ContactModel())
                            </div>
                        </div>
                        <div class="col-12 col-md-5 offset-md-1">
                            <div class="w-100 d-block" src="/content/siteresources/map.jpg" alt="">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6366.505473186818!2d175.784597!3d-37.075287!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7b5303e9929079c!2sPrescott&#39;s+Garages+Ltd!5e0!3m2!1sen!2snz!4v1558992620971!5m2!1sen!2snz" frameborder="0" style="border:0;width:100%;height:300px" allowfullscreen></iframe>
                            </div>
                            <div class="location-info mt-3">
                                <p>
                                    Hikuai Settlement Rd,
                                    <br /><br />
                                    Hikuai 3579
                                    <br /><br />
                                    New Zealand
                                    <br /><br />
                                    Phone:+64 7 864 7801
                                    <br /><br />
                                    Email: <a href="mailto:info@Remarkablegarages.co.nz">info@Remarkablegarages.co.nz</a>
                                    <br /><br />

                                    <a href="https://www.facebook.com/Remarkablegarages" target="_blank">facebook.com/Remarkablegarages</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            if (@Model.GetResources().Any(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop))
            {
                <div class="offset-top hero-container hero-image" style="background-image: url(@Model.GetResources().First(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop).getUrl())"></div>
            }
            <div class="container-fluid">
                <div class="mt-5 mb-5">
                    <h1 class="page-heading mb-3">@Model.Title</h1>
                    <div class="page-blurb mb-3">@Html.Raw(Model.Html1)</div>
                </div>
            </div>
        }
    </div>