﻿@model Remarkable.Models.HomePageViewModel
@{
    ViewBag.Title = "Home";
    var i = 0;
}

@if(Model.Banners.Count!=0 || Model.Banners!=null)
{ 
    <div class="swiper-container product-swiper">
        <div class="swiper-wrapper">

            @foreach (var banner in Model.Banners)
            {
                <div class="swiper-slide" style="background-image: url('@banner.GetResources().First(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop).getUrl()')">
                    <div class="layer">
                        <div class="lgtext">@banner.Html2</div>
                    </div>
                </div>
                i++;
            }

        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
}
<div class="contentbox" style="margin-top: -30px;">

    <div class="row ">
        @foreach (var promo in Model.Promotions)
        {
            var img = promo.GetResources().First(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop);
            if (img != null)
            {

            <div class="col-xs-6 col-sm-6 col-md-3 reducedpadding">
                <div class="promobox">
                    <div class="promoimage" style="background-image: url('@img.getUrl()');"></div>
                    <div>
                        <a href="@promo.Html2">
                            @promo.Html1 <svg class="chevron" viewBox="17.17 12 16.082 26.025">
                                                    <path id="chevron" d="M 20.23884201049805 11.99999904632568 L 17.17000198364258 15.06883907318115 L 27.11390686035156 25.01274871826172 L 17.17000198364258 34.9566535949707 L 20.23884201049805 38.02549362182617 L 33.2515869140625 25.01274871826172 L 20.23884201049805 11.99999904632568 Z">
                                                    </path>
                                                </svg>
                                            </a>
                    </div>
                </div>
            </div>
            }
        }

    </div>
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-9">
            <h1>Welcome to Remarkable Stud Welding  and Metal Decks </h1>
            Metal Decking formwork systems have been proven to be fast, cost-effective and safer in application than traditional raised concrete floor systems. As a business we pride ourselves in our high service levels and the fact we are not just the average installation company.  We like to get involved with our customers at an early stage to assist you in picking the correct products for the project and iron out any design issues we may foresee thus creating time and financial efficiencies to the site operations.
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="promobox contactformbox text-center">
                <h5>Contact Us Today</h5>
                <div class="text-left">
                    Got a question? Contact us now. We’re always  happy to provide a free consultation to assist  or guide you in the right solution for your project.
                </div>
                <input type="text" name="name" id="Name" placeholder="NAME">
                <input type="text" name="Phone" id="Phone" placeholder="CONTACT NUMBER">
                <input type="text" name="Email" id="Email" placeholder=" EMAIL">
                <input type="text" name="name" id="Project" placeholder="PROJECT NAME">
                <input type="text" name="name" id="Comments" placeholder="MESSAGE">

                <button class="mt-3 contactbtn" type="button">
                    SEND ENQUIRY <svg class="chevron" viewBox="17.17 12 16.082 26.025">
                        <path id="chevron" d="M 20.23884201049805 11.99999904632568 L 17.17000198364258 15.06883907318115 L 27.11390686035156 25.01274871826172 L 17.17000198364258 34.9566535949707 L 20.23884201049805 38.02549362182617 L 33.2515869140625 25.01274871826172 L 20.23884201049805 11.99999904632568 Z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
        </div>


            <BR><BR><BR>


            <div class="row">
                @foreach (var promo in Model.Large_Promotions)
                {
                    var img = promo.GetResources().First(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop);
                    if (img != null)
                    {
                        <div class="col-sm-6">
                            <div class="projectbox text-center">
                                <img src="@img.getUrl()">
                                <div>
                                    <h5>@promo.Html1</h5>
                                    <hr size="1">
                                    <a href="@promo.Html2">
                                        @promo.Html2 <svg class="chevron" viewBox="17.17 12 16.082 26.025">
                                            <path id="chevron" d="M 20.23884201049805 11.99999904632568 L 17.17000198364258 15.06883907318115 L 27.11390686035156 25.01274871826172 L 17.17000198364258 34.9566535949707 L 20.23884201049805 38.02549362182617 L 33.2515869140625 25.01274871826172 L 20.23884201049805 11.99999904632568 Z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>

