﻿@model List<Remarkable.Models.Content>

@{
    ViewBag.Title = "News";
}

<div class="contentbox news">


    <h1>News</h1>
    <div class="row">

        @if (Model.Count == 1)
        {
            foreach (var article in Model)
            {
        <div class="col-12">
            @if (article.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop).Count() != 0)
            {

            foreach (var sr in article.GetResources().Where(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop))
            {
                <img src="@sr.getUrl()" />
            }

            }


            <h2>@article.Title <div class="newsdate"> @article.CreateDate.ToShortDateString() </div></h2>
            <div class="page-blurb mb-3">@Html.Raw(article.Html1)</div>

        </div>
            }



        }
        else
        {

            foreach (var article in Model.OrderBy(a=>a.CreateDate))
            {
                <div class="product-click col-sm-4">
                    @if (article.GetResources().Count != 0)
                    {
                        <img class="product-image img-fluid mb-5" src="@article.GetResources().First(x => x.SiteResourceType == Remarkable.Models.SiteResource.SiteResourceTypeOption.Billboard_Desktop).getUrl()" alt="">
                    }
                    else
                    {
                        <div class="product-image" style="height:200px;border: solid 1px silver;margin:12px;"></div>
                    }
                </div>
                <div class="col-sm-8 product-click">
                    <h5>@article.Title <div class="newsdate"> @article.CreateDate.ToShortDateString() </div></h5>

                    <p>@Html.Raw(article.Html2)</p>

                    <a href="/home/ViewNews/@article.ID">
                        Read More  <svg class="chevron" viewBox="17.17 12 16.082 26.025">
                            <path id="chevron" d="M 20.23884201049805 11.99999904632568 L 17.17000198364258 15.06883907318115 L 27.11390686035156 25.01274871826172 L 17.17000198364258 34.9566535949707 L 20.23884201049805 38.02549362182617 L 33.2515869140625 25.01274871826172 L 20.23884201049805 11.99999904632568 Z">
                            </path>
                        </svg>
                    </a>

                </div>
            }
        }

    </div>
    </div>