﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://use.typekit.net/bap5zsj.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home Banners", "Index", "Content", new { id = Remarkable.Models.Content.TypeOption.Home_Page_Banner }, new { })</li>
                    <li>@Html.ActionLink("Pages", "Index", "Content", new { id = Remarkable.Models.Content.TypeOption.Site_Content }, new { })</li>
                    <li>@Html.ActionLink("News", "Index", "Content", new { id = Remarkable.Models.Content.TypeOption.News }, new { })</li>
                    <li>@Html.ActionLink("Brands", "Index", "Brands")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                   
                    <li>@Html.ActionLink("Home Box", "Index", "Content", new { id = Remarkable.Models.Content.TypeOption.Home_Page_Promo }, new { })</li>
                    <li>@Html.ActionLink("Home Box Large", "Index", "Content", new { id = Remarkable.Models.Content.TypeOption.Home_Page_Large_Promo }, new { })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Remarkable</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

</body>
</html>
