﻿@model Remarkable.Models.ISavedFile

<div ng-controller="UploadController" class="uploadcont" data-siterestype="@Model.SiteResourceType" data-filename="@Model.FileName" data-code="@Model.Code" data-previewurl="@Model.PreviewUrl" data-isactive="@Model.IsActive" data-objecttype="@Model.ObjectType">

    <div class="uploader" ng-class="{uploaderfilled:hasPreviewUrl()}">
        <div ngf-drop ngf-select ng-model="files" class="drop-box uploaderbox" ng-class="{uploaderboxnotneeded:hasPreviewFile()}"
             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">
            <div ng-if="hasPreviewUrl()">
                <img ng-if="hasPreviewImg()" ng-src="{{getPreviewShowData()}}" />
                <span ng-if="hasPreviewFile()">File : <b>{{getPreviewShowData()}}</b></span>
            </div>
            <div ng-if="updloading" class="filename">
                <div class="progressbox"><div class="progressbar" ng-style="{ 'width' : progwidth }">{{progwidth}}</div></div>
            </div>
            <div ng-if="!updloading && !job && !ticket.PreviewUrl" class="filename">
                Drop file here
            </div>
            <div class="uploader-button" ng-if="!files && !job && !errormsg">
                <div class="browse" ng-if="!files && !job && !errormsg">BROWSE</div>
                <div ng-if="files">{{files[0].name}}</div>
                <div ng-if="job">{{job.FileName}}</div>
                <div ng-if="errormsg">{{errormsg}}</div>
            </div>
            <input id="testmodel" name="testmodel" type="hidden" ng-model="ticket.SiteResourceType" />
            <div ng-view="job">
                <input name="ResourceTickets[@((int)Model.Index)].Code" type="hidden" ng-value="job.Code" />
                <input name="ResourceTickets[@((int)Model.Index)].FileName" type="hidden" ng-value="job.FileName" />
                <input name="ResourceTickets[@((int)Model.Index)].SiteResourceType" type="hidden" ng-value="job.SiteResourceType" />
                <input name="ResourceTickets[@((int)Model.Index)].IsActive" type="hidden" ng-value="job.IsActive" />
                @if (!Model.CollectCaption)
                {
                    <input name="ResourceTickets[@((int)Model.Index)].Caption" type="hidden" value="@Model.Caption" />
                }
            </div>
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

        <div ng-show="false">
            <ul>
                <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
            </ul>
            Upload Log:
            <pre>{{log}}</pre>
        </div>

    </div>
    <div ng-if="hasPreviewUrl()">
        @if (Model.CollectCaption)
        {
            <input name="ResourceTickets[@((int)Model.Index)].Caption" type="text" placeholder="caption" value="@Model.Caption" /><br/>
        }
       
        <a ng-href="{{getPreviewDownload()}}" target="_blank">Download</a><br/>
       
        <span ng-click="delete()" class="delete">Delete this file</span>
    </div>
    
</div>