html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Chivo", sans-serif;
  color: #BAC0C4;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 1.8rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.5rem; } }

.relative {
  position: relative; }

button {
  background-size: 200% auto;
  background-image: linear-gradient(to right, #4080cb 0%, #00a1ed 51%, #4080cb 100%);
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 3px;
  transition: ease .5s; }
  button:hover {
    background-position: right center;
    transition: ease .5s; }
  button:focus {
    outline: none;
    background-color: #D50118; }

.container-fluid {
  max-width: 1170px;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .container-fluid {
      padding: 0 40px; } }

.hero-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.hero-image {
  background-size: cover;
  background-position: 50% 50%;
  height: 40%; }

.logo {
  height: 40px;
  padding: 6px; }
  @media (min-width: 480px) {
    .logo {
      height: 45px; } }

.offset-top {
  margin-top: 70px; }

.navbar {
  background: #fff;
  flex-direction: column; }
  .navbar a {
    color: #000000; }
  .navbar .dropdown-menu {
    border: none; }
    .navbar .dropdown-menu .dropdown-item {
      padding-left: 10px; }
  .navbar .dropdown-toggle::after {
    border: none; }
  .navbar button {
    background: none; }
    .navbar button:hover {
      background-color: transparent;
      cursor: pointer; }
    .navbar button:focus {
      background-color: transparent; }

.mobile-menu {
  display: flex;
  align-items: center; }
  .mobile-menu button {
    padding: 0 10px; }
  .mobile-menu .navbar-toggler-icon {
    background-size: contain;
    width: 30px;
    height: 30px; }
  @media (min-width: 992px) {
    .mobile-menu .mobile-number {
      display: none; } }

.navbar-nav li a {
  font-size: 14px;
  transition: ease .3s; }
  .navbar-nav li a:hover {
    opacity: 0.5;
    transition: ease .3s; }

.nav-link.phone .icon {
  display: none; }
  @media (min-width: 992px) {
    .nav-link.phone .icon {
      width: 15px;
      height: 15px;
      margin-left: 5px;
      margin-right: 10px;
      display: inline;
      align-self: center; } }

@media (min-width: 992px) {
  .nav-link.phone {
    background: #1C2E3D;
    color: #fff;
    padding: 8px 20px;
    border-radius: 3px;
    margin-left: 20px; } }

.red-line {
  background-color: #D50118;
  height: 5px;
  width: 100%; }

.product-click {
  padding-bottom: 30px;
  display: block;
  margin: 0 auto; }
  .product-click .price {
    display: flex;
    padding: 10px; }
    .product-click .price img {
      height: 40px; }
      @media (min-width: 480px) {
        .product-click .price img {
          height: 50px; } }
    .product-click .price .text {
      padding: 0 20px;
      color: #1C2E3D; }
    .product-click .price h3 {
      font-size: 16px;
      font-family: "Chivo", sans-serif; }
    .product-click .price h2 {
      font-size: 30px;
      line-height: 20px; }
    @media (min-width: 480px) {
      .product-click .price {
        padding: 30px; } }
  .product-click .categories {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap; }
    .product-click .categories li {
      background-color: #BAC0C4;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 14px; }
  .product-click p {
    font-family: "Roboto", sans-serif;
    color: #00a1ed;
    font-size: 26px;
    line-height: 28px;
    padding: 0 20px;
    min-height: 55px; }
  .product-click .product-image {
    max-height: 200px;
    display: block;
    margin: 0 auto; }

.logo-banner {
  background: #00a1ed;
  background: -moz-linear-gradient(left, #4080cb 0%, #00a1ed 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #4080cb), color-stop(100%, #00a1ed));
  background: -webkit-linear-gradient(left, #4080cb 0%, #00a1ed 100%);
  background: -o-linear-gradient(left, #4080cb 0%, #00a1ed 100%);
  background: -ms-linear-gradient(left, #4080cb 0%, #00a1ed 100%);
  background: linear-gradient(to right, #4080cb 0%, #00a1ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4080cb', endColorstr='#00a1ed', GradientType=1 );
  padding: 50px 0; }
  .logo-banner img {
    width: auto;
    height: 75px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 480px) {
      .logo-banner img {
        height: 100px; } }
    @media (min-width: 992px) {
      .logo-banner img {
        height: 130px; } }

.trademe-banner {
  background-color: #1C2E3D;
  background: -moz-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, black), color-stop(100%, #1c2e3d));
  background: -webkit-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: -o-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: -ms-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: linear-gradient(135deg, black 0%, #1c2e3d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c2e3d', GradientType=1 );
  color: #fff; }
  .trademe-banner .trademe-container {
    max-width: 329px;
    max-height: 50px;
    margin: 0 auto;
    display: block; }
  .trademe-banner img {
    display: inline-block;
    max-width: 98%;
    height: auto; }
  .trademe-banner p {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .trademe-banner p {
        width: 90%; } }
  .trademe-banner button {
    display: block;
    margin: 0 auto; }

.text-container {
  position: absolute;
  top: 15%;
  bottom: 0;
  margin-left: 40px;
  z-index: 1;
  color: #fff; }
  .text-container h1 {
    font-size: 40px;
    line-height: 40px; }
  .text-container h3 {
    font-size: 20px;
    font-family: "Chivo", sans-serif; }
  @media (min-width: 768px) {
    .text-container {
      top: 30%; } }

.gradient-fill {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 ); }

.hero-container .carousel-indicators {
  justify-content: flex-start;
  margin: 0 0 20px 40px; }
  .hero-container .carousel-indicators li {
    background-image: url(../content/images/bullet-empty.svg);
    box-sizing: initial;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    background-color: transparent;
    background-clip: initial;
    opacity: 1;
    padding: 0 5px; }
  .hero-container .carousel-indicators .active {
    background-image: url(../content/images/bullet_active.svg); }

.hero-container .carousel-item {
  width: 100%;
  height: 50%;
  min-height: 400px;
  background-size: cover;
  background-position: 80% 50%; }

.single-image {
  width: 100%;
  display: block; }

.swiper-container {
  padding: 0 10px; }
  .swiper-container a {
    text-decoration: none; }

.swiper-wrapper {
  height: auto; }

.multiple-product-swiper .swiper-slide {
  height: 100%;
  -webkit-box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1); }
  .multiple-product-swiper .swiper-slide a {
    text-decoration: none; }

@media (min-width: 768px) {
  .multiple-product-swiper {
    min-height: 500px; } }

.product-swiper {
  max-width: 100%;
  margin-bottom: 40px; }
  .product-swiper .swiper-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    min-height: 50vh;
    width: 100% !important;
    margin-bottom: 30px; }
    .product-swiper .swiper-slide a {
      text-decoration: none; }
    .product-swiper .swiper-slide img {
      vertical-align: middle; }
    @media (min-width: 768px) {
      .product-swiper .swiper-slide {
        min-height: 350px; } }
  @media (min-width: 768px) {
    .product-swiper {
      max-width: 80%; } }

.swiper-button-next, .swiper-button-prev {
  width: 30px;
  height: 30px;
  background-size: contain; }
  .swiper-button-next:focus, .swiper-button-prev:focus {
    outline: none; }
  @media (min-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
      width: 80px;
      height: 80px; } }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -10px;
  background-image: url(../content/images/left.svg); }
  @media (min-width: 768px) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 0px;
      background-image: url(../content/images/arrow-left.png); } }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -10px;
  background-image: url(../content/images/right.svg); }
  @media (min-width: 768px) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: 0px;
      background-image: url(../content/images/arrow-right.png); } }

.multiple-slider-container {
  position: relative; }
  .multiple-slider-container .swiper-button-prev, .multiple-slider-container .swiper-container-rtl .swiper-button-next {
    left: 0px; }
  .multiple-slider-container .swiper-button-next, .multiple-slider-container .swiper-container-rtl .swiper-button-prev {
    right: 0px; }

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-size: cover;
  opacity: 1;
  background-color: transparent; }

.swiper-pagination-bullet {
  background-image: url(../content/images/bullet-empty-blue.svg); }

.swiper-pagination-bullet-active {
  background-image: url(../content/images/bullet-active-blue.svg); }

.footer-bg {
  background-color: #1C2E3D;
  background: -moz-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, black), color-stop(100%, #1c2e3d));
  background: -webkit-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: -o-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: -ms-linear-gradient(-45deg, black 0%, #1c2e3d 100%);
  background: linear-gradient(135deg, black 0%, #1c2e3d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c2e3d', GradientType=1 );
  padding-bottom: 60px; }

.footer-list {
  list-style: none;
  line-height: 15pt;
  padding: 0; }
  .footer-list a, .footer-list p {
    color: #BAC0C4;
    font-size: 14px;
    padding: 3px 0; }
  .footer-list li {
    display: flex;
    align-items: baseline; }
    .footer-list li .icon {
      width: 15px;
      height: auto;
      margin-right: 10px; }
      .footer-list li .icon img {
        width: 100%; }
    .footer-list li .facebook {
      width: 20px;
      height: auto; }
      .footer-list li .facebook img {
        width: 100%; }

li.fb {
  flex-direction: column; }

.footer-list-heading {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  width: 80%; }

.footer-logo {
  width: 150px; }

.footer-logo img {
  width: 100%; }

.contact-container {
  position: relative;
  background: #eeeeee; }
  @media (min-width: 992px) {
    .contact-container {
      background: transparent;
      background-position: center;
      background-size: cover;
      background-image: url(../content/images/bg-overlay.png);
      background-repeat: no-repeat; } }
  .contact-container h1, .contact-container h4, .contact-container p {
    color: #1C2E3D; }
  .contact-container .blurb {
    width: 100%; }
    @media (min-width: 768px) {
      .contact-container .blurb {
        width: 60%; } }
  .contact-container .contact-text {
    list-style: none;
    margin: 0;
    padding: 0; }
    .contact-container .contact-text li {
      display: flex; }
      .contact-container .contact-text li h4 {
        font-size: 18px;
        margin: 0; }
      .contact-container .contact-text li .icon {
        width: 20px;
        height: 20px;
        margin-right: 30px; }
      .contact-container .contact-text li img {
        width: 100%;
        height: auto; }
      .contact-container .contact-text li p {
        font-size: 16px; }
  .contact-container .absolute {
    width: 50%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .contact-container form {
    display: flex;
    flex-direction: column; }
  .contact-container label {
    color: #BAC0C4;
    font-size: 16px; }
  .contact-container input, .contact-container textarea {
    border: none; }
  .contact-container button[type=button] {
    background-size: 200% auto;
    background-image: linear-gradient(to right, #4080cb 0%, #00a1ed 51%, #4080cb 100%);
    color: #fff;
    border: none;
    font-size: 14px;
    transition: ease .5s;
    margin-left: 0;
    width: 50%;
    max-width: 120px;
    align-self: flex-start; }
    .contact-container button[type=button]:hover {
      background-position: right center;
      transition: ease .5s; }
    @media (min-width: 768px) {
      .contact-container button[type=button] {
        width: 30%;
        align-self: flex-end; } }

.page-heading {
  color: #00a1ed;
  font-size: 2.2rem;
  text-align: center; }

.page-blurb {
  color: #000;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: 0 auto; }

.product-grid a {
  text-decoration: none; }

.product-grid .product-click {
  -webkit-box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1); }

.product-text .product-name {
  color: #00a1ed;
  font-size: 1.8rem; }
  @media (min-width: 768px) {
    .product-text .product-name {
      font-size: 2.2rem; } }

.product-text .desc {
  color: #000; }

.product-text .categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .product-text .categories li {
    background-color: #BAC0C4;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px; }

.product-text .links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .product-text .links li a {
    color: #BAC0C4;
    text-decoration: underline;
    font-size: 14px; }

.product-text .price {
  display: flex;
  align-items: baseline;
  margin: 0; }
  .product-text .price img {
    height: 30px;
    margin-right: 10px; }
  .product-text .price .text {
    display: flex;
    align-items: center;
    color: #1C2E3D; }
  .product-text .price p {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    line-height: 11px;
    margin: 0; }
  .product-text .price h2 {
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 10px; }

.product-details {
  text-align: center;
  padding: 30px;
  -webkit-box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 11px 16px -8px rgba(0, 0, 0, 0.1); }
  .product-details h1 {
    color: #D50118; }
  .product-details p {
    color: #000; }
  @media (min-width: 768px) {
    .product-details {
      padding: 50px; } }

.features h1 {
  color: #00a1ed;
  font-size: 2.2rem; }

.features ul {
  padding-left: 20px; }
  .features ul li {
    padding: 5px 0;
    color: #000; }

.feature-image {
  max-width: 500px;
  max-height: 100%;
  margin: 0 auto;
  display: block; }
  .feature-image img {
    display: inline-block;
    max-width: 98%;
    height: auto; }

.wayfinder {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  .wayfinder li {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    .wayfinder li a {
      color: #BAC0C4;
      transition: ease-in-out .5s; }
      .wayfinder li a:hover {
        text-decoration: none;
        color: #758189;
        transition: ease-in-out .5s; }
    .wayfinder li p {
      margin: 0 10px; }

.leave-message {
  background: #F5F6F6; }
  .leave-message h1 {
    font-size: 2.2rem; }
  .leave-message h1, .leave-message h2, .leave-message h3, .leave-message h4, .leave-message p {
    color: #1C2E3D; }
  .leave-message form {
    display: flex;
    flex-direction: column; }
  .leave-message label {
    color: #1C2E3D;
    font-size: 16px; }
  .leave-message button[type="button"] {
    background-color: #BAC0C4;
    color: #fff;
    border: none;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 3px;
    transition: ease .5s;
    margin-left: 0;
    width: 50%;
    max-width: 120px;
    align-self: flex-start; }
    .leave-message button[type="button"]:hover {
      background-color: #D50118;
      transition: ease .5s; }
