﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: fieldwork, sans-serif;
}

.form-control {
    max-width:unset;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:500px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Uploader */
div.uploader, div.uploader span.action {
    -webkit-font-smoothing: antialiased;
}

div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    position: relative;
}

    div.uploader:focus {
        outline: 0;
    }

    div.uploader, div.uploader * {
        margin: 0;
        padding: 0;
        background-color: #f1f1f1
    }

div.uploader {
    background: rgba(255,255,255,0.75);
    text-align: center;
    height: 230px;
    width: 250px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

    div.uploader span.action {
        width: 180px;
        height: 62px;
        text-transform: uppercase;
        text-align: center;
        background: #e5e3e3;
        border: 2px solid #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -90px;
        padding-top: 20px;
        bottom: 52px;
    }

    div.uploader.hover span.action {
        background: #727171;
    }

    div.uploader span.filename {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        cursor: default;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 140px;
        left: 0px;
    }

    div.uploader input {
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        border: none;
        background: none;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    div.uploader.disabled span.action, div.uploader.disabled.active span.action {
        color: #aaa;
    }

    div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
        border-color: #ddd;
        color: #aaa;
    }

.hidden_field div.uploader {
    background: rgba(255,77,77,0.75);
}

    .hidden_field div.uploader span.filename {
        color: #fff;
    }

    .hidden_field div.uploader span.action {
        background: #fd5757;
    }

    .hidden_field div.uploader.hover span.action {
        background: #7e2b2b;
    }

.uploaderbox {
    width: 100%;
    height: 150px;
    padding: 10px !important;
}

    .uploaderbox img {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        max-width: 100%;
        max-height: 100%;
    }

.uploader-button {
    border: solid 1px #FFF;
    color: #fff;
    background-color: #e5e3e3;
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 10px;
    right: 10px;
    height: 120px;
    font-size: 15px;
}

    .uploader-button .browse {
        font-size: 18px;
        font-weight: bold;
        margin-top: 25px !important;
    }

div.filename {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    cursor: default;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40px;
    left: 0px;
}

.progressbar {
    height: 25px;
    background-color: #f6f81a !important;
    width: 0%;
    color: #000;
    text-align: center;
    font-size: 10px;
}

.progressbox {
    height: 25px;
}

.progressperc {
}

.delete {
    cursor: pointer;
}

.uploaderfilled {
    height: auto !important;
}

.uploaderboxnotneeded {
    height: auto !important;
}

.hires {
    display: none;
}

.uploadcont input[type=text] {
    max-width: none !important;
    width: 100% !important;
}

.msg {
    background-color: #d2f7d2;
    color: #178216;
    padding: 20px;
    font-weight: bold;
    margin: 10px;
}

.add-picker {
    width: 98px;
}

.add-picker.plustime {
    width: 198px;
}

.tag {
    background-color: #EAEAEA;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.taglist {
    line-height: 45px;
}