
* {
    font-family: fieldwork, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.reducedpadding {
    padding-right: 7px;
    padding-left: 7px;
}
.footerlogos img
{
    max-width:170px;
}
.site-container {
    max-width: 1170px;
    margin: auto;
}
h1, h2, h3, h4, h5 {
    color: #002A4C;
    padding-top: 1em;
    padding-bottom: 1em;
}
.swiper-container {
    max-height: 500px;
}
@media only screen and (max-width: 992px) {
    .swiper-container {
        max-height: 300px;
    }
}

    .navbar {
        margin: auto;
        margin-right: 57px;
        margin-left: 10px;
    }

    .news h1 {
        color: #61A744;
        padding-top: .4em;
        padding-bottom: .4em;
    }

    .news h2 {
        color: #002A4C;
        padding-top: .4em;
        padding-bottom: .4em;
    }

    .newsdate {
        float: right;
        color: #61A744;
    }

    .container {
        background-color: #fff;
    }

        .container img {
            width: 100%;
            height: auto;
            height: inherit !important;
        }

    .navbar-container {
        background-color: #002A4C;
    }

    .footer {
        margin-top: 12px;
        background-color: #002A4C;
        color: white;
        line-height: 1.8em;
        padding: 30px 57px 30px 57px;
        font-size: 12px;
        font-weight: 200;
        font-style: normal;
    }

    .footerlogos img {
        float: left;
        vertical-align: middle;
        border-style: none;
        width: 50%;
        padding: 10px;
    }

    .footer a {
        color: #fff;
    }

    .footer .logo {
        width: 100%;
    }

    .navbar-nav {
        bottom: 0px;
        position: absolute;
        right: 0px;
    }

    .social-icons {
        position: absolute;
        right: 6px;
        margin-top: 6px;
    }

    .contactbox {
        top: 0px;
        float: right;
        position: absolute;
        z-index: 999;
        right: 0;
    }

    #Contact_us {
        opacity: 1;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        line-height: 22px;
        margin-top: -1.5px;
        text-align: left;
        font-family: Fieldwork;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        background-color: #fff;
        color: #000;
        padding: 10px 20px 10px 20px;
        float: left;
        margin-right: 4px;
    }


    #ID0800 {
        opacity: 1;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
        white-space: nowrap;
        line-height: 22px;
        margin-top: -1.5px;
        text-align: left;
        font-family: Fieldwork;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        color: rgba(201,217,227,1);
        letter-spacing: 0.25px;
        background-color: #61A744;
        color: #fff;
        padding: 10px 20px 10px 20px;
        float: left;
    }

.logo {
    padding: 20px 10px 30px 0px;
    width: 100%;
}

    .navbar-toggler-icon {
        padding-top: 12px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(97,167,68, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    @media only screen and (max-width: 992px) {
        .logo {
            padding: 0px;
            max-width: 100%;
            margin: auto;
        }

        .navbar-nav {
            position: relative;
            bottom: auto;
            top: auto;
        }

        .nav-link {
            text-align: center;
            border-bottom: solid 2px #61A744;
        }

        .contactbox {
            top: auto;
            position: relative;
            z-index: 999;
            right: auto;
        }

        .container {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        #Contact_us {
            padding: 10px 10px 10px 10px;
        }

        .footer img {
            float: none;
        }

        .footer .logo {
            margin: auto;
            max-width: 320px;
        }

        .social-icons {
            position: relative;
            right: auto;
            margin-top: 16px;
        }

            .social-icons img {
                max-height: 40px;
            }
    }

    .social div img {
        max-height: 22px;
    }

    .nav-link {
        font-size: 14px;
        color: #fff;
        line-height: 2em;
    }

    a:hover {
        color: #61A744;
    }

    #chevron {
        opacity: 1;
        fill: rgba(255,255,255,1);
    }

    .chevron {
        transform: matrix(1,0,0,1,0,0);
        overflow: visible;
        position: relative;
        float: right;
        margin-top: 4px;
        width: 16.082px;
        height: 16px;
    }

    .contentbox {
        margin: auto;
        margin: 0px 57px 0px 57px;
    }
@media only screen and (max-width: 992px) {
    .contentbox {
        margin: auto;
        margin: 0px 27px 0px 27px;
    }
}
    .promobox {
        margin-bottom: 12px;
    }

        .promobox div {
            background-color: #002A4C;
            color: white;
            padding: 12px;
            z-index: 2;
        }

        .promobox a, .projectbox a {
            color: white;
        }

        .promobox .promoimage {
            height: 140px;
            position: relative;
            background-size: cover;
        }

    .contactformbox {
        max-width: 300px;
        background-color: #002A4C;
        color: #fff;
        padding: 12px;
        font-size: 12px;
        margin: auto;
        margin-top: 20px;
    }

    .contactformboxmobile {
        float: none !important;
        width: 100%;
        max-width: 900px;
    }

    .contactformbox input {
        width: 100%;
        margin-top: 8px;
    }

    .contactformbox h5 {
        color: white;
        padding-top: .6em;
        padding-bottom: .6em;
    }

    .contactformbox .contactbtn {
        background-color: #61A744;
        color: white;
        padding: 12px;
        position: relative;
        margin-top: 8px !important;
        width: 100%;
        border: solid 0px white;
        font-size: 14px;
    }

    .projectbox div {
        position: absolute;
        top: 40%;
        left: 5%;
        width: 90%;
        background: rgba(97,175,54,0.6);
        padding: 20px;
        color: #fff;
    }

    .projectbox h5 {
        color: white;
        padding-top: .2em;
        padding-bottom: .2em;
    }

    .projectbox img {
        width: 100%;
    }

    .projectbox hr {
        margin-top: .1rem;
        margin-bottom: .5rem;
        border: 0;
        border-top: 1px solid rgba(255,255,255,1);
    }

    #Path_219 {
        opacity: 1;
        fill: rgba(97,167,68,1);
    }

    .Path_219 {
        transform: matrix(1,0,0,1,0,0);
        overflow: visible;
        position: relative;
        width: 202.821px;
        height: 41.095px;
    }

    .layer {
        background-color: rgba(157, 157, 157, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 50px !important;
    }

    .swiper-slide {
        background-size: contain;
    }

    .product-click {
        margin-bottom: 20px;
    }

        .product-click .categories {
            list-style: none;
            margin: 0;
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
        }

            .product-click .categories li {
                background-color: #BAC0C4;
                color: #fff;
                border-radius: 5px;
                text-align: center;
                padding: 5px 10px;
                margin-right: 5px;
                margin-bottom: 5px;
                font-size: 14px;
            }

        .product-click a {
            color: rgba(97,167,68,1);
        }

        .product-click #chevron {
            opacity: 1;
            fill: rgba(97,167,68,1);
        }

        .product-click .chevron {
            float: none;
            margin-top: 0px;
        }

        .product-click .product-image {
            max-height: 200px;
            display: block;
            margin: 0 auto;
            width: auto;
        }

        .product-click h5 {
            padding-bottom: 0em;
            padding-top: 0em;
        }

    .product-text {
        padding-top: 20px;
    }

        .product-text h1 {
            color: #61A744;
            padding-bottom: .6em;
            padding-top: .6em;
        }

    .brand h1 {
        color: rgba(97,167,68,1);
        padding-top: .5em;
        padding-bottom: .5em;
    }


    .lgtext {
        color: white;
        font-size: 45px;
        top: 18%;
        position: relative;
        padding: 40px;
        width: 50%;
        border: solid 0px red;
        margin-left: 40px;
        line-height: 42px;
        z-index: 101;
    }

    @media only screen and (max-width: 992px) {
        .lgtext {
            font-size: 25px;
            top: 10%;
            position: relative;
            padding: 20px;
            width: 80%;
            margin-left: 40px;
            margin-right: 40px;
            line-height: 22px;
        }
    }